@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-800;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  @apply transition duration-300 ease-in-out transform hover:scale-105;
}

/* Slider Overlay */
.swiper-button-next, .swiper-button-prev {
  color: white;
}
.swiper-pagination-bullet-active {
  background: white;
}

/* Carousel */
.swiper-slide {
  display: flex;
  justify-content: center;
}

/* Hamburger and Dropdown */
.relative ul {
  top: 100%;
  left: 0;
}

/* Gallery Video */
video {
  transition: transform 0.3s;
}
.relative:hover video, .relative:hover img {
  transform: scale(1.05);
}